[submodule ".vim/pack/eli/start/ctrlp"]
	path = .vim/pack/eli/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/eli/start/nerdtree"]
	path = .vim/pack/eli/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/eli/start/tcomment_vim"]
	path = .vim/pack/eli/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/pack/eli/start/vim-matchit"]
	path = .vim/pack/eli/start/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule ".vim/pack/eli/start/vim-css-color"]
	path = .vim/pack/eli/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/pack/eli/start/vim-endwise"]
	path = .vim/pack/eli/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/eli/start/vim-fugitive"]
	path = .vim/pack/eli/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/eli/start/vim-javascript"]
	path = .vim/pack/eli/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/eli/start/vim-ragtag"]
	path = .vim/pack/eli/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/pack/eli/start/vim-rails"]
	path = .vim/pack/eli/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/eli/start/vim-ruby"]
	path = .vim/pack/eli/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/eli/vim-surround"]
	path = .vim/pack/eli/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/eli/start/vim-es6"]
	path = .vim/pack/eli/start/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule ".vim/pack/eli/start/vim-tmux-focus-events"]
	path = .vim/pack/eli/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".vim/pack/eli/start/vim-tmux-clipboard"]
	path = .vim/pack/eli/start/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard.git
[submodule ".vim/pack/eli/start/vim-slim"]
	path = .vim/pack/eli/start/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/pack/eli/start/vim-surround"]
	path = .vim/pack/eli/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/eli/start/ale"]
	path = .vim/pack/eli/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/eli/start/typescript-vim"]
	path = .vim/pack/eli/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/eli/start/vim-jsx-typescript.git"]
	path = .vim/pack/eli/start/vim-jsx-typescript.git
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule ".vim/pack/eli/start/vim-js-pretty-template"]
	path = .vim/pack/eli/start/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule ".vim/pack/eli/start/vim-js-indent"]
	path = .vim/pack/eli/start/vim-js-indent
	url = https://github.com/jason0x43/vim-js-indent.git
[submodule ".vim/pack/eli/start/vim-typings"]
	path = .vim/pack/eli/start/vim-typings
	url = https://github.com/mhartington/vim-typings.git
[submodule ".vim/pack/eli/start/tsuquyomi"]
	path = .vim/pack/eli/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
