[submodule "dotfiles/.oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:elianderson/oh-my-zsh.git
[submodule ".vim/bundle/PickAColor"]
	path = .vim/bundle/PickAColor
	url = https://github.com/vim-scripts/PickAColor.vim.git
[submodule ".vim/bundle/UltiSnips"]
	path = .vim/bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/jQuery"]
	path = .vim/bundle/jQuery
	url = https://github.com/vim-scripts/jQuery.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/bundle/vim-cucumber"]
	path = .vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/tlib_vim.git"]
	path = .vim/bundle/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils.git"]
	path = .vim/bundle/vim-addon-mw-utils.git
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snipmate.git"]
	path = .vim/bundle/vim-snipmate.git
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-snippets.git"]
	path = .vim/bundle/vim-snippets.git
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/ultisnips.git"]
	path = .vim/bundle/ultisnips.git
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = https://github.com/vim-scripts/Emmet.vim.git
[submodule ".vim/pack/eli/start/ctrlp"]
	path = .vim/pack/eli/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/eli/start/nerdtree"]
	path = .vim/pack/eli/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
