snippet pp "Quick way for out putting prints"
pp '---------------------------------------------------------------------------'
pp $0
pp '---------------------------------------------------------------------------'
endsnippet
